.progress-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: width 0.5s ease-in-out; /* Smooth transition for width change */
    height: 100vh;
    background-color: #202e3b;
    display: flex;
    align-items: flex-end; /* Align the progress bar to the bottom */
    pointer-events: none;
  }
  
  .progress-bar {
    height: 5px; /* Or any other height depending on your design */
    background-color: #4CAF50; /* Progress bar color */
    width: 0%; /* Initial width */
    transition: width 0.5s ease-in-out; /* Smooth transition for width change */
  }
  